				<!-- Footer -->
                <footer class="wrapper style1 align-center">
                    <div class="inner">
                        <ul class="icons">
                            <li>{{ with .Site.Params.social.github }}<a target="_blank" href="{{.}}" class="icon brands style2 fa-github"><span class="label">Github</span></a></li>{{end}}
                            <li>{{ with .Site.Params.social.twitter }}<a target="_blank" href="{{.}}" class="icon brands style2 fa-twitter"><span class="label">Twitter</span></a></li>{{end}}
                            <li>{{ with .Site.Params.social.email }}<a target="_blank" href="mailto:{{.}}" class="fav icon style2 fa-envelope"><span class="label">Email</span></a></li>{{end}}
                        </ul>
                        <p>Dataparty LLC &copy; 2020</p>
                    </div>
                </footer>